.title{
	// width: 100%;
	height: 55px;
	background-color: rgb(255, 255, 255);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px 0 20px;
	border-bottom: 1px solid #e7e7e7;
	border-left: 1px solid #e7e7e7;
	

}
.demo-type > div:not(:last-child) {
  // border-right: 1px solid var(--el-border-color);
}