.title{
	width: 100%;
	height: 55px;
	background-color: rgb(255, 255, 255);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px 0 10px;
	border: 1px;
	

}
.example-showcase .el-dropdown-link {
  cursor: pointer;
  color: var(--el-color-primary);
  display: flex;
  align-items: center;
}