.title{
	width: 100%;
	height: 60px;
	background-color: hotpink;
	display: flex;
	justify-content: space-between;
	margin: 0 10px 0 10px;
	

}
.example-showcase .el-dropdown-link {
  cursor: pointer;
  color: var(--el-color-primary);
  display: flex;
  align-items: center;
}