.title{
	// width: 100%;
	height: 55px;
	background-color: rgb(255, 255, 255);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px 0 50px;
	border-bottom: 1px solid #e7e7e7;
	border-left: 1px solid #e7e7e7;
	

}
.example-showcase .el-dropdown-link {
  cursor: pointer;
  // color: var(--el-color-primary);
  display: flex;
  align-items: center;
}