.title{
	width: 100%;
	background-color: hotpink;
	display: flex;
	

}
.example-showcase .el-dropdown-link {
  cursor: pointer;
  color: var(--el-color-primary);
  display: flex;
  align-items: center;
}