.login{
 width: 50%;
	height:400px;
	min-width: 200px;
	min-height: 550px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgb(205, 92, 92);
	position: relative;
	overflow: hidden;
		.btn {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}

	
}