.login{
 width: 100%;
	height:100vh;
	min-width: 200px;
	min-height: 550px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgb(223, 223, 223);
	position: relative;
	overflow: hidden;
		.btn {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-left: 50px;
		}

	
}